:root {
  --primary-color: #DD2288;       
  --white: #ffffff;             
  --border-radius: 10px;         
  --dark-blue: #030b24;         
  --light-blue: #02315E;         
  --light-gray: #f0f0f0;         
  --lighter-gray: #f8f8f8;       
  --medium-gray: #ccc;           
  --some-blue: #0c477e;         
}



body.light-mode {
  background-color: var(--light-gray);
  color: var(--dark-blue);
}

body.light-mode h2 {
  color: var(--light-blue);
}

body.light-mode .flecha {
  color: var(--light-blue);
}

body.light-mode .about {
  background-color: var(--white);
  color: var(--dark-blue);
}

body.light-mode h1 {
  color: var(--some-blue);
}

body.light-mode .div-habilidades3 {
  background: linear-gradient(
    135deg,
    rgba(220, 220, 220, 0.8),
    rgba(240, 240, 240, 0.8)
  );
  color: var(--dark-blue);

  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  flex: 1 1 30%;
  padding: 10px;
  border-radius: var(--border-radius);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  backdrop-filter: blur(10px);
}

body.light-mode .proyecto {
  background-color: var(--white);
  color: var(--dark-blue);
}

body.light-mode .card {
  background-color: var(--lighter-gray);
  color: var(--dark-blue);
  border: 1px solid var(--medium-gray);
}

body.light-mode .cv {
  color: var(--light-blue);
  border: 2px solid var(--light-blue);
}

body.light-mode .cv:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--dark-blue);
}

body.light-mode .ver {
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue);
  color: var(--white);
}

body.light-mode .proyecto-img {
  border-radius: var(--border-radius);
  object-fit: cover;
}

body.light-mode .menu {
  border: 2px solid var(--dark-blue);
}

body.light-mode .desarollador {
  -webkit-text-fill-color: var(--light-blue);
  background: none;
}

body.light-mode .div-habilidades > i {
  color: var(--dark-blue);
}

body.light-mode .foto-perfil {
  border: 3px solid var(--light-blue);
}

body.light-mode .cambiar-tema {
  background-color: var(--light-blue);
}

body.light-mode .h2-about2 {
  -webkit-text-fill-color: var(--dark-blue);
}

body.light-mode .span-logo {
  color: var(--dark-blue);
}

body.light-mode #item-footer {
  color: var(--dark-blue);
}

body.light-mode .div-contacto i {
  color: var(--dark-blue);
}

body.light-mode .div-contacto span {
  color: var(--dark-blue);
}

body.light-mode .h2-contacto {
  color: var(--dark-blue);
}

body.light-mode .menu i {
  color: var(--dark-blue);
  font-size: 15px;
}

body.light-mode .mockup {
  border: 1px solid var(--dark-blue);
  box-shadow: 0 0 8px var(--dark-blue);
}

body.light-mode .mockup i {
  color: var(--dark-blue);
}

body.light-mode .brove {
  background: var(--dark-blue);
}

body.light-mode .mobile-phone {
  border: 1px solid var(--dark-blue);
  background-color: var(--light-gray);
  padding: 3px;
}

body.light-mode .desarollador {
  animation: escribir 3s steps(14, end) forwards, parpadeoCursorLight 0.7s infinite;

}

.tema-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cambiar-tema {
  position: relative;
  width: 50px;
  height: 25px;
  background: #030b24;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 6px;
}

.cambiar-tema::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: left 0.3s, background 0.3s;
}

.cambiar-tema.active {
  background: #DD2288;
}

.cambiar-tema.active::before {
  left: 25px;
}

body {
  background-color: #030b24;
  font-family: "Lato", sans-serif;
  margin: 0px;
}

/* * {
  transition: all 0.5s ease-out;
} */

main {
  color: white;
}

.logo{
  width: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.div-foto{
  margin-bottom: 10px;
}

.idioma{
  display: flex;
}

.tema-contenedor{
  justify-content: space-around;

}

.presentacion{
  display: flex;
  flex-direction: column;
  align-items: center;
/*   margin-top: 200px;
  margin-bottom: 260px; */
  margin-top: 9rem;
  margin-bottom: 16rem;
}

.prueba-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

h1{
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Tuturial sacado de https://fjmduran.com/blog/css-efecto-maquina-escribir */
.desarollador {
  display: inline-block;         
  overflow: hidden;              
  font-size: 1.7em;
  margin: 5px 0;                
  background: linear-gradient(90deg, #ff0080, #ff66b2, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;                      
  animation: escribir 3s steps(17, end) forwards, parpadeoCursorDark 0.7s infinite;
}

@keyframes escribir {
  from { width: 0; }
  to { width: 13ch; }  
}

@keyframes parpadeoCursorLight {
  0%, 100% { border-color: transparent; }
  50%      { border-color: #02315E; }
}

@keyframes parpadeoCursorDark {
  0%, 100% { border-color: transparent; }
  50%      { border-color: #ffffff; }
}


.foto-perfil {
  width: 9rem;
  border-radius: 100%;
  height: 10rem;
  border: 2px solid #DD2288;
  padding: 5px;
  animation: pelota .6s alternate infinite ease-in;
  object-fit: cover;
}

@keyframes pelota {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pelota2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

.cv{
  padding: 12px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  margin-top: 3px;
  width: -webkit-fill-available;
  font-size: 0.8em;
  text-align: center;
}

.ver{
  padding: 12px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  margin-top: 5px;
    margin-bottom: 5px;
  width: -webkit-fill-available;

}

.prueba-div>a{
  flex: 1 1 50%;
}


.about{
  background-color: #0e1835;
  padding: 45px;
  border-radius: var(--border-radius);
}

.h2-about{
  font-size: 1.2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(103, 181, 214);
  margin-bottom: 10px;
  height: fit-content;
}

.punto{
  color: var(--primary-color);
}

.p-about{
  font-size: 15px;
  margin-block-start: 0.5em;
  margin-block-end: 0em;
}


.sobre-mi{
  margin-bottom: 20px;
}

/* Apoyado de: https://www.youtube.com/watch?v=eNq4ejLK55s */

.caja{ 
  margin-bottom: 10px;
  position: relative;  
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.caja::before{
  content: "";
  position: absolute;
  width: 3px;
  height: 120%;
  background-color: var(--primary-color);
  left: -15px;
  top: 10px;
}


.caja::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50% ;
  background-color: var(--primary-color);
  left: -19px;
  top: 0px;
}

.span-anio{
  font-size: 12px;
}

.habilidades{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.div-habilidades{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: center;
  animation: pelota .9s alternate infinite ease-in;

}

.div-habilidades2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
/*   background-color: #010b2c;
 */}

 .div-habilidades3 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  flex: 1 1 30%;
  padding: 10px;
  border-radius: var(--border-radius);
  
  /* Degradado base */
  background: linear-gradient(135deg, rgba(11, 15, 31, 0.8), rgba(37, 40, 107, 0.8));

  /* Para animarlo */
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  
  /* Efecto de difuminado detrás (si lo deseas) */
  backdrop-filter: blur(10px);
}

/* Animación del degradado */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.h2-about2 {
  font-size: 1.2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background: linear-gradient(to top, white, rgb(1, 178, 253));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  height: fit-content;
}

.span-logo{
  font-size: 0.6em;
  color: #f8f8f8;
  margin-top: 4px;
}

.pruebaDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-container{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.div-habilidades>i{
  font-size: 1.5em;
  color: #f8f8f8;
}


.div-habilidades>div>span{
  font-size: 0.8em;
  color: #f8f8f8;
}

.habilidad-logo{
  width: 1.5rem;
}

.habilidad-logo2{
  width: 2.5rem;
}

#habilidad-logo2{
  font-size: 2.5rem;
}


.logo-php{
  width: 3rem;
}


.h3-titulo{
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: rgb(103, 181, 214);
  margin-top: 20px;
}


.proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.proyecto{
  position: relative; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #0e1835;
  width: 80%;
  margin-bottom: 25px;
  border-radius: var(--border-radius);

}

.proyecto-img{
  width: 100%;
  border-radius: var(--border-radius);
  height: 200px;
  object-fit: fill;
}

.titulo-proyecto{
  color: rgb(103, 181, 214);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.proyecto-info>p{
  padding-left: 15px;
  padding-right: 15px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 0.8em;
}

.info{
  margin: 10px;
}

.tecnologias1{
  padding: 15px;
  flex: 1 1 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tecnologias2{
  padding: 15px;
  flex: 1 1 30%;
}

.tecnologias-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tecnologia{
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  color: #fff;
  background-color: rgb(28, 70, 88);
}

.ver-proyecto{
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}

a{
  text-decoration: none;
}

p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.menu{
  display: flex;
  flex-direction: column;
  position: fixed; 
  left: 92%;
  align-items: center;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
  top: 40vh;
  gap: 10px;
/*   z-index: -2; */
}

.item{
  cursor: pointer;
  padding: 4px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.h2-contacto{
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.contacto{
/*   width: 80%;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 80%;
  margin-bottom: 20px;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin-top: 20px;
  align-items: center;
}

.formulario>input{
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgb(28, 70, 88);
  width: 100%;
}

.formulario>textarea{
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgb(28, 70, 88);
  width: 100%;
}

.enviar{
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  width: 30%;
}

.softs{
  display: flex;
  align-items: center;
/*   justify-content: center;
 */  gap: 7px;
  flex-wrap: wrap;
}

.card{
  border: 1px solid black;
  width: fit-content;
/*   border: 2px solid var(--primary-color);
 */  border-radius: var(--border-radius);
  background-color: #DD2288;
  padding: 8px;
}

#icono-card{
  font-weight: bold;
}

.span-form{
  font-size: 0.7em;
}


.cambiarMokcup {
  position: absolute;
  left: 5px; 
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.mockup {
  background: none;
  border: none;
  box-shadow: 0 0 8px white;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}

.div-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#item-footer{
  font-size: 2rem;
  color: white;
}

.screen{
  view-timeline-name: --photo;
}

.mobile-phone{
  view-timeline-name: --photo;
}

.viewport{
  animation: linear develop both;
  animation-timeline: --photo;
  animation-range: entry 30% cover 40%;
}

.screenMovil{
  animation: linear develop both;
  animation-timeline: --photo;
  animation-range: entry 30% cover 40%;
}

.habilidad-logo:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.div-habilidades>i:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.cv:hover{
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.cambiarIdioma:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.habilidad-logo2:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.pruebaDiv:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
}

.mockup:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

.ver-proyecto:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

.tecnologia:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

#item-footer:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

#copiarBtn:hover{
  transform: translateY(-5px);
  transition: all 0.3s;
  cursor: pointer;
}

.flecha {
  position: absolute; 
  bottom: 10px;       
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;    
  color: #fff;       
  text-decoration: none;
  animation: pelota2 2s infinite;
}


@keyframes develop {
  from {
    filter: blur(5px);
    scale: 1.1;
    opacity: 0.5;
  }
  to {
    filter: blur(0);
    scale: 1;
    opacity: 1;
  }
}

@media (min-width: 500px) {

  /* https://codepen.io/seeme/pen/MWeqqEg */
  .macbook {
    padding: 4% 6%;
    margin: 0 auto;
    width: 350px;
    max-width: 800px;
    
  }
  
  /* Parte superior (pantalla) del MacBook */
  .screen { 
    background: #000;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    margin: 0 auto;
    position: relative;
    width: 80%; /* Ajusta el ancho de la pantalla */
    object-fit: cover;
  }
  
  /* Borde de la pantalla */
  .screen:before {
    border: 2px solid #cacacc;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset,
                0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    content: "";
    display: block;
    /* Relación de aspecto aproximada de un MacBook ~67:100 */
    padding-top: 67%;
  }
  
  /* Pequeña línea en la parte inferior de la pantalla */
  .screen:after {
    content: "";
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: 0.75%;
    left: 0.5%;
    padding-top: 1%;
    width: 99%;
  }
  
  /* Área visible donde va la captura/imagen */
  .viewport {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 4.3% 3.2%;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Parte inferior del MacBook (base/teclado) */
  .base {
    position: relative;
    width: 100%;
  }
  
  .base:before {
    content: "";
    display: block;
    /* ~33:1000 de relación para simular la base */
    padding-top: 3.3%;
    background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
    border-radius: 0 0 10% 10% / 0 0 50% 50%;
  }
  
  .base::after {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.8) 0.5%,
      rgba(0, 0, 0, 0.4) 3.3%,
      transparent 15%,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 85%,
      rgba(0, 0, 0, 0.4) 96.7%,
      rgba(255, 255, 255, 0.8) 99.5%,
      rgba(0, 0, 0, 0.5) 100%
    );
    content: "";
    height: 53%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .mobile-phone {
    position: relative; /* ← IMPORTANTE */
    margin: auto;
    margin-top: 20px;
    padding: 5px 5px 10px;
    width: 100px;
    height: 200px;
    border: 1px solid white;
    border-radius: 30px;
/*     background-color: black;
 */  }
  
  .screenMovil {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .brove {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 14px;
    background: white;
    border-radius: 0 0 20px 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .speaker {
    width: 40px;
    height: 5px;
    background: #d2d2d2;
    border-radius: 20px;
  }
  
  .habilidad-logo{
    width: 2rem;
  }
    
  .logo-php{
    width: 3rem;
  }
  
}



@media (min-width: 700px){
  .cambiarMokcup {
    left: 10px;
    top: 50%;
    padding: 10px;
    border-radius: 8px;
}

  .mockup {
    font-size: 1.3rem;
    padding: 5px;
  }
}

@media (min-width: 768px) {
  main {
    width: 80vw;
    margin: 0 auto; /* Centra el contenido */
  }

  .header{
    width: 80vw;
    margin: 0 auto;
  }

  .foto-perfil {
    width: 10rem;
  }

  .presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  /*   margin-top: 200px;
    margin-bottom: 260px; */
    margin-top: 11rem;
    margin-bottom: 16rem;
  }
  .viewport{
    object-fit: cover;

  }
}

@media (min-width: 1000px) {
  main {
    width: 80vw;
    /* border: 1px solid white; */

  }

  .flecha {
    bottom: 30px;       

  }
  

  .header{
/*     margin: 0 auto;
 */    /* border: 1px solid white; */

  }

  .foto-perfil {
    width: 15rem;
    height: 17rem;
  }

  .presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  /*   margin-top: 200px;
    margin-bottom: 260px; */
    margin-top: 6rem;
    margin-bottom: 11rem;

  }

  .viewport{
    object-fit: cover;

  }

  .proyecto{
    flex: 1 1 40%;
    margin-bottom: 10px;
    height: 370px;


  }

  .proyectos{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

  }

}



@media (min-width: 1200px){
  .cambiarMokcup {
    left: 10px;
    top: 50%;
    padding: 10px;
    border-radius: 8px;
}

  .mockup {
    font-size: 1.3rem;
    padding: 5px;
  }
}